.app_dark_theme {
  --bg-color: #1b1b1c;
  --inverted-bg-color: #f1f5f8;
  --primary-color: #7ecbff;
  --inverted-primary-color: #c99b06;
  --secondary-color: #39ddd8;
  --inverted-secondary-color: #5bb7ff;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #1515ad;

  // card
  --card-bg: #292929;

  // listbox
  --listbox-bg: #0d0d6b;
}
