.app_light_theme {
  --bg-color: #f1f5f8;
  --inverted-bg-color: #1b1b1c;
  --primary-color: #006cc1;
  --inverted-primary-color: #12913c;
  --secondary-color: #04a5a0;
  --inverted-secondary-color: #12918c;

  // skeleton
  --skeleton-color: #bdbdbdd8;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #bdbdbdd8;

  // card
  --card-bg: #e4e3e3;

  // listbox
  --listbox-bg: #d5d5d7;
}
