.ListBox {
  border: 1px solid var(--primary-color);
}

.trigger {
  cursor: pointer;
  color: var(--primary-color);
  margin: 0;
  padding: 7px 15px;
  border: 0;

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 5px;
  overflow: hidden;
}

.item {
  padding: 5px 7px;
  min-width: 100%;
  white-space: nowrap;
}
